*{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 980px;
	margin: 0 auto;
	}


.head{
	width: 980px;
	margin: 0 auto;
	height: 87px;
	padding-right: 57px;
	padding-top: 18px;
	height: 60px;
	
}
.company-name{
	font-family: 宋体;
	font-size:25px;
	color: black;
	margin-left: 57px;
	margin-top: 18px;
    }
.head-right{
    width: 160px;
    height: 88px;
	float: right;
	font-family: 宋体;
	font-size: 12px;
    margin-top: 5px;
}
      #head-p{
	       font-family: Adobe 黑体 Std R;
	       color: #999999;
	       font-size: 13px;
	       margin-left: 57px;
	       margin-top: 5px;
      }
      #head-a{
	     text-decoration: none;
	      color: #333333;

	  }

        #head-icon{
      	width: 14px;
      	height: 14px;
        vertical-align: text-bottom;

      }

.nav{
	background-color: #9e0000;
	height: 34px;
	padding-left: 40px; 
    padding-top: 10px;
    border-bottom: 3px solid #e5e5e5;
}
.nav ul li{
	 float: left;
	 list-style: none;
     margin-left: 20px;   
}
.nav ul li a{
	  color: #ffffff;
	  font-size: 14px;
	  font-family: 宋体;
	  /*text-decoration: none;*/
	  
}
.nav ul li a:hover{color: blue;}

#banner{
	height: 300px;
	width: 980px;
	border-bottom: 3px solid #e5e5e5;
}


.left{
	height: 500px;
	width: 530px; 	
	text-align: left;
}

      #about-company{
      	color: #666666;
      	font-size: 14px;
      	margin-top: 9px;
      	display: inline-block;
      }
      #more{
      	color: #666666;
      	font-size: 12px;
      	display: inline-block;
      	margin-left: 400px;					
      }
      
      .line{
      	width: 530px;
      	border-bottom: 1px solid #cccccc;

      }
      #about-us{
      	font-family: Myriad Pro Regular;
      	font-size: 20px;
      	color: #b21616;
      	margin-top: 25px;
      }
      #brief-intro{
      	font-size: 12px;
      	font-family: 宋体;
        text-indent: 2em;
        margin-top: 20px;
        line-height: 27px;
      }
  .company-trend{
  	margin-top: 20px;
  	float: left;
  }
  .news ul{
  	margin-top: 10px;
  	height: 150px;
  }
  .news ul li{
  	list-style: none;
  }
  .news ul li a {
  	font-size: 12px;
  	font-family: 宋体;
  	color: #666666;
  	text-decoration: none;
  	margin-top: 5px;

  }
  .news ul li a:hover{
  	color: red;

  }
  .date{
  	font-family: 宋体;
  	font-size: 12px;
  	color: #990000;
  	margin-left: 205px;
  }
  .date1{
  	font-family: 宋体;
  	font-size: 12px;
  	color: #990000;
  	margin-left: 170px;
  }


.right{
	float: right;
	width: 430px;
	height: 500px;
}
.right-tab-page{
	margin-top: 5px;
	height: 220px;
	width: 430px;
}
#tab-page{
	height: 220px;
	width: 430px;
}
#tab{
	position: relative;
    left: 330px;
    bottom: 22px;
}

}
.right-title-p{
	font-family: 宋体;
	font-size: 14px;
	color: #8a8a8a;
}
#right-title-span{
	font-family: Myriad Pro Regular;
	font-size: 30px;
	color: #b21616;
	margin-left: 13px;
}
.right-column{
	height: 145px;
	width: 430px;
	float: right;
}
.right-content p{
	font-size: 12px;
	font-family: 宋体;
	color: #898989;
	float: left;			
	margin-left: 10px;
}
.right-content img{
	height: 74px;
	width: 66px;
	margin-top: -10px;
	float: left;
}
.bottom-img{
	height: 115px;
	border-bottom: 3px solid #ebebeb;
	border-top: 3px solid #ebebeb;
	margin-top: 18px; 
}
.bottom-img a img{
	display: inline-block;
    margin-left: 27px;
    margin-top: 15px;
    height: 80px;
    width: 125px;
}

.foot{
	
	height: 38px;
	margin-top: 5px;
	border-top: 5px solid #e5e5e5;
	padding-top: 10px;
}
.foot-p{
	font-size: 12px;
	font-family: 宋体;
	color: #898989;
	margin-left: 30px;
    margin-bottom: 2px;

}
.foot-name{
	float: right;
	display: inline-block;
	margin-top: 13px;
	margin-right: 30px;
}
#foot-company{
	font-family: 宋体;
	font-size:12px;
	color: black;
}
#foot-company-one{
	   font-family: Adobe 黑体 Std R;
	   color: #999999;
	  font-size: 12px;
}